# .gitignore
#*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/*
!*.xcodeproj/xcshareddata/*
!*.xcodeproj/default.*
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/*

Carthage/Build

